<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Task List</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Due Date</th> 
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.dueDate}"></td>
                <td>
                    <a th:href="@{/tasks/details/{id}(id=${task.id})}">
                        <button>View Details</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="button-container">
        <button onclick="window.location.href='/home'">Home</button>
    </div>
</body>
</html>
